<%= form_for @blog, local: true do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
  </div>

<div class="field">
 <%= f.label :content %>
 <%= f.text_area :content %> 
</div>

<div class="field">
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>


<div class="field">
  <%= f.label :categories %>
  <%= f.select(:category_id, options_for_select(@categories), prompt: 'select one') %>
</div>

<%= f.submit %>

<% end %>