


<div style="margin-left: 250px; margin-top: 50px;">
<%= will_paginate @blogs %>
<% @blogs.each do |blog| %>
</div>
 <div class="posts", style="margin-left: 250px; margin-right: 250px; margin-top: 100px; ">
  <h4> <%= blog.title %> </h4>

     <%= markdown(blog.content) %> 
<li> <%= blog.author %> </li>


  
<li> <%= link_to Category.find(blog.category_id).name, category_path(blog.category_id) if blog.category_id.present? %></li>


 <%= link_to "Edit", edit_blog_path(blog) %>

 <%= link_to "delete", blog_path(blog), method: :delete, data: { confirm: "Are u sure do want to delete this blog"} %>


</div>





<% end %>