<%= form_for @blog, local: true do |f| %>
<div style="margin-left: 150px;">
  <div class="form-group">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
  </div>
</div>

 <div class="form-group">
<div class="field">
 <%= f.label :content %>
 <%= f.text_area :content %> 
</div>
</div>

<div class="form-group">
<div class="field">
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>
</div>

<div class="form-group">
<div class="field">
  <%= f.label :categories %>
  <%= f.select(:category_id, options_for_select(@categories), prompt: 'select one') %>
</div>
</div>

<%= f.submit %>

<% end %>