

<% blogs = Blog.where(category_id: params[:id]) %>
<div style="margin-top: 10px; margin-left: 250px; font-size: 20px; font-style: italic; color: grey;">
<%= @category.name %>
</div>
<% if blogs.present? %>
<% blogs.each do |blog| %>
<div style="margin-left: 250px; margin-right: 250px; margin-top: 50px;">
 <h6> <%= blog.title %> </h6>
<p style="font-style: italic;"> <%= blog.content %> </p>
</div>
<% end %>
<% else %>
 <p style= "margin-left: 250px; margin-right: 250px; margin-top: 50px; font-style: italic;"> There is no blog for this categories <%= link_to 'Create new blog', new_blog_path %> </p> 


<% end %>