<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="navbar-text float-right"> 
      <% if user_signed_in? %>
         logged in as <strong> <%= current_user.email %>
      <%= link_to "Edit profile",  edit_user_registration_path, class: 'navbar-link' %>
      <% if current_user.present? %>
       <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
      <% else %>
      <%= link_to "logout", user_path(current_user.id), method: :delete, class: 'navbar-link' %>
      <% end %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %>
       <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
       <% end %>

      <p class ="navbar-text", style="margin-left: 250px; margin-top: 20px;">
         <% if user_signed_in? %>
      
      <%= link_to "Blogs", blogs_path, class: 'navbar-link' %>
      <%= link_to "New Blog", new_blog_path, class: 'navbar-link' %>
      <%= link_to "Categories", categories_path, class: 'navbar-link' %>
       <% end %>

       
      <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
